In [2]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

### 1. Create a dataframe

#### Paste the table from Wiki and import data into a dataframe

In [31]:
data = pd.read_csv('E:\\BU@Career\\Data science IBM certificate\\Machine Learning\\toronto_neighborhood.csv')

In [32]:
data = data[data.Borough != 'Not assigned']
data = data.reset_index(drop=True)

In [33]:
data.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Not assigned
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

#### Assign latitude and longitude to each neighborhood

In [34]:
coordinate = pd.read_csv('E:\\BU@Career\\Data science IBM certificate\\Machine Learning\\Geospatial_Coordinates.csv')
coordinate.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [36]:
#When Borough is assigned, neighbourhood is not, change the neighbour to borough
for i,n,b in zip(data.index, data['Neighbourhood'],data['Borough']):
    if n == 'Not assigned':
        data.loc[i,'Neighbourhood'] = b

In [50]:
#merge the neighbourhoods who have the same postcode
data = data.groupby('Postcode')['Neighbourhood'].apply(','.join).reset_index()

  Postcode                         Neighbourhood
0      M1B                         Rouge,Malvern
1      M1C  Highland Creek,Rouge Hill,Port Union
2      M1E       Guildwood,Morningside,West Hill
3      M1G                                Woburn
4      M1H                             Cedarbrae

In [59]:
coordinate.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [72]:
#add latitude and longitude to the data
toronto = data.join(coordinate)
toronto = toronto.drop(['Postal Code'],axis=1)
toronto.head()

  Postcode                         Neighbourhood   Latitude  Longitude
0      M1B                         Rouge,Malvern  43.806686 -79.194353
1      M1C  Highland Creek,Rouge Hill,Port Union  43.784535 -79.160497
2      M1E       Guildwood,Morningside,West Hill  43.763573 -79.188711
3      M1G                                Woburn  43.770992 -79.216917
4      M1H                             Cedarbrae  43.773136 -79.239476